@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Dear dietiary...</h1>
    <p></p><p>Przejmij kontrolę nad dietą i kontroluj swoje postępy <br>z bezpiecznym dziennikiem żywieniowym.</p>
</div>
